<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	
	
	
    

	<title>Os Fregueses</title>
	
	
    <script src="../../sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../../sweetalert2/dist/sweetalert2.min.css">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="css/magnific-popup.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	
	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/png" href="img/guitarra.png"/>

</head>

<body onload="onLoad()">
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./img/capa.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->
		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="index.html">
							<img class="logo" src="img/logotipo.png" alt="logo">
							<img class="logo-alt" src="img/logotipo.png" alt="logo">
							
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Página Inicial</a></li>
					<li><a href="#about">Sobre Nós</a></a></li>
					<li><a href="#service">Eventos</a></li>
					<li><a href="#contact">Contactos</a></li>
					<li><a data-toggle="modal" data-target="#myModalLogin">Login</a></li>
					<!--<li><button type="button" href="#" id="button" class="button">Login</button></li>-->
					<!--<li><button class="page-scroll" data-toggle="modal" data-target="#myModalLogin">Login</button></li>-->   <!-- MUDOU -->
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->
		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">Os Fregueses</h1>
							<p class="white-text">Associação Recreativa e Cultural de Tocadores de Instrumentos Tradicionais Portugueses
							</p>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white">Sobre Nós</h2>
				</div>
				<!-- /Section header -->
				
				<div class="bg-img" style="background-image: url('./img/chourada1.jpg');">
		     	<div class="overlay"></div>
		        </div>

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
					<!--	<i class="fa fa-cogs"></i> -->
						<h3 class="white-text">Quem Somos</h3>
						<p>Somos um grupo de amigos de Panóias que se reune para tocar música e passar tempo de qualidade.</p>
					<!-- 	<a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
					<!--	<i class="fa fa-magic"></i> -->
						<h3 class="white-text">Qual o nosso objetivo</h3>
						<p>O nosso grande objetivo é dar continuação aos vários estilos de música tradicional portuguesa com o avançar das gerações.</p>
				<!--		<a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
					<!--	<i class="fa fa-mobile"></i> -->
						<h3 class="white-text">Como é que te podes juntar</h3>
						<p>Enviando uma e-mail para o nosso endereço ou uma mensagem para umas das nossas páginas nas redes sociais.</p>
					<!--	<a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->



	<!-- Service -->
	<div id="service" class="section md-padding">
		
		

		<!-- Container -->
		<div class="container">
			<h2  style="text-align:center; color:white;" class="title">Eventos</h2>
			<div id="evento">
			

			<!-- Row -->
			    <div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
				
				</div>
				<!-- /Section header -->
				
				<div class="bg-img" style="background-image: url('./img/paiva.jpg');">
				<div class="overlay"></div>
				</div>
			      <!-- /Row -->
            </div>
            	
		</div>
		<!-- /Container -->

	</div>
	
	</div>
	<!-- /Service -->







	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				
				

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white">Entre em Contacto</h2>
				</div>
				<!-- /Section-header -->
				
				<div class="bg-img" style="background-image: url('./img/cavaquinho.jpg');">
		     	<div class="overlay"></div>
		        </div>

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3 style="color: white">Telefone</h3>
						<p style="color: white">253 666 100</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3 style="color: white">Email</h3>
						<p style="color: white">os_fregueses1978@gmail.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3 style="color: white">Morada</h3>
						<p style="color: white">Rua do Milho nº 46, Panoias, Braga</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form">
						<input type="text" class="input" placeholder="Nome">
						<input type="email" class="input" placeholder="Email">
						<input type="text" class="input" placeholder="Tópico">
						<textarea class="input" placeholder="Comentário"></textarea>
						<button class="main-btn">Enviar</button>
					</form>
				</div>
				<!-- /contact form -->
				
				

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->


	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="index.html"><img src="img/logotipo.png" alt="logo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script document.getElementById("button").addEventListener("click", function() {document.querySelector("login-modal").style.display = "flex"})></script>
	<script document.querySelector("close").addEventListener("click", function(){document.querySelector("login-modal").style.display = "none"})></script>
	
	
	
	<!-- Modal Login 
	 <div class= "login-modal">
	 	<div class= "conteudo-modal">
	 		<div class="close">+</div>
	 		<img src="" alt="Avatar" >
	 		<form>
	 		<input type="text" placeholder="E-Mail">	
	 		<input type="text" placeholder="Password">
	 	<!--	<a href="" class="button">Submeter</a> -->
	 	<!--	</form>
	 	</div>
	 	
	 </div>-->
	 
	 <!-- MUDOU -->
	 
	 <!-- Modal Login-->
    <div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
                
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Iniciar Sessao</h4>
                </div>
                <!--<div class="modal-body" id="modal-form">
                    <iframe src="https://osfregueses-adamado.c9users.io//" frameBorder="0" width="100%" height="230px"></iframe>
                </div>-->
                <form method="POST">
                <div class="form-group">
              		<label for="email">Email</label>
              		<input type="email" class="form-control" id="email" name="email"/>
          		</div>
          		<div class="form-group">
              		<label for="password">Password</label>
              		<input type="password" class="form-control" id="password" name="password"/>
              	</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="submit" class="btn btn-primary" onclick = "location.href='https://osfregueses-adamado.c9users.io/admin';">Login</button>-->
                    <button type="submit" class="btn btn-primary" id="login">Login</button>
                </div>
            </form>
            </div>
        </div>
    </div>
	 <script type="text/javascript" src="../../javascripts/templates/visitante.temp.js"></script>
	 

</body>

</html>
