<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <script src="../../sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../../sweetalert2/dist/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    

    <title>Os Fregueses-Eventos</title>
    
</head>
    <body onload="onLoad()" style="background-color: rgb(67, 68, 73)">
        
       
        <header>
	

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent" style="background-color: rgb(204, 0, 0) !important">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
						<div class="navbar-brand">
						<a href="/colabs">
						
						<img class="logo-alt" src="../img/logotipo.png" alt="logo"> 
							
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li class="has-dropdown"><a href="">☰</a>
						<ul class="dropdown" style="background-color: rgb(204, 0, 0) !important">
						<li><a href="/colabs/colaboradores">Colaboradores</a></li>
							<li><a href="/colabs/associados">Associados</a></li>
							<li><a href="/colabs/eventos">Eventos</a></li>
							<li><a href="/colabs/alterarDados">Alterar Dados</a></li>
							<li><a href="/logout">Log Out</a></li>
						</ul>
					</li>
					<!--<li><button type="button" href="#" id="button" class="button">Login</button></li>-->
					<!--<li><button class="page-scroll" data-toggle="modal" data-target="#myModalLogin">Login</button></li>-->   <!-- MUDOU -->
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->
		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

				

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">
			
			<div id="evento">
			

			<!-- Row -->
			    <div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white">Eventos</h2>
				</div>
				<!-- /Section header -->
				
				
			      <!-- /Row -->
            </div>
		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->
        
        <!-- Modal Login-->
    <div class="modal fade" id="admins-dlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Iniciar Sessao</h4>
                </div>
                <!--<div class="modal-body" id="modal-form">
                    <iframe src="https://osfregueses-adamado.c9users.io//" frameBorder="0" width="100%" height="230px"></iframe>
                </div>-->
                <div class="form-group">
              		<label for="email">Email</label>
              		<input type="email" class="form-control" id="email"/>
          		</div>
          		<div class="form-group">
              		<label for="password">Password</label>
              		<input type="password" class="form-control" id="password"/>
              	</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="submit" class="btn btn-primary" onclick = "location.href='https://osfregueses-adamado.c9users.io/admin';">Login</button>-->
                    <button type="submit" class="btn btn-primary" id="login" onclick = location.href="auth()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../javascripts/colaboradores/eventos.colabs.js"></script>
    </body>
    </html>